<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, shrink-to-fit=no" />
    <title>TestVideo</title>
    <script>
        (function(){
            var html = document.documentElement;
            var body = document.body;
            window.addEventListener('resize', calc, false);
            document.addEventListener('DOMContentLoaded', calc, false);
            calc();
            function calc(){
                var width = html.clientWidth || body.clientWidth || window.screen.width || window.innerWidth;
                if(width) {
                    html.style.fontSize = width / 7.5 + 'px';
                }
                html.dataset.dpr = window.devicePixelRatio;
            }
        })()
    </script>
</head>
<body>
<!--<video
        id="shadow-video"
        class="shadow-video"
        src="https://onegoods.nosdn.127.net/resupload/2018/04/09/e17e7a65f00d7e8173c0c3f88f2c9713.mp4"
        playsinline="isiPhoneShowPlaysinline"
        webkit-playsinline="isiPhoneShowPlaysinline"
        x-webkit-airplay
        poster="https://onegoods.nosdn.127.net/resupload/2018/5/28/64f7214860701e146fc9ffaa0f58662f.jpg">
            <source src="https://onegoods.nosdn.127.net/resupload/2018/04/09/e17e7a65f00d7e8173c0c3f88f2c9713.mp4" type="video/mp4">
</video>-->
<!--<video
        id="shadow-video2"
        class="shadow-video"
        preload="none"
        playsinline
        webkit-playsinline
        x-webkit-airplay
        controls
        poster="//onegoods.nosdn.127.net/resupload/2018/5/28/64f7214860701e146fc9ffaa0f58662f.jpg"
        src="//onegoods.nosdn.127.net/resupload/2018/04/09/e17e7a65f00d7e8173c0c3f88f2c9713.mp4">
    <source src="//onegoods.nosdn.127.net/resupload/2018/04/09/e17e7a65f00d7e8173c0c3f88f2c9713.mp4" type="video/mp4">
</video>-->
<div id="wrapper">
</div>

<button id="video-btn" class="video-btn"></button>
<div id="video-content"></div>
<template class="play-inline">
    <style type="text/css">
       /* @import "https://unpkg.com/video.js@7.0.3/dist/video-js.css";*/
       .shadow-video {
           width: 7.5rem;
           height: 4rem;
           display: block;
           object-fit:fill;
           object-position: center top;
       }
    </style>
    <script type="application/javascript">
       /*function videoPlay () {
	       document.getElementById('video-content').shadowRoot.getElementById('shadow-video').play();
       }*/
    </script>
    <content></content>
</template>
</body>
</html>