<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
    <title>TestVideo</title>
    <script>
        (function(){
            var html = document.documentElement;
            var body = document.body;
            window.addEventListener('resize', calc, false);
            document.addEventListener('DOMContentLoaded', calc, false);
            calc();
            function calc(){
                var width = html.clientWidth || body.clientWidth || window.screen.width || window.innerWidth;
                if(width) {
                    html.style.fontSize = width / 7.5 + 'px';
                }
                html.dataset.dpr = window.devicePixelRatio;
            }
        })()
    </script>
</head>
<body>
<div id="video-content"></div>
<template class="play-inline">
    <style>
        .IIV::-webkit-media-controls-play-button,
        .IIV::-webkit-media-controls-start-playback-button {
            opacity: 0;
            pointer-events: none;
            width: 5px;
        }
        .shadow-video {
            object-fit:fill
        }
    </style>
    <content></content>
</template>
</body>
</html>